<div class="kx-btngroup kx-flex kx-flex-wrap kx-btngroup--spacing  " role="group" aria-label="Aria label example">
    <ng-content></ng-content>
</div>
<!-- BUTTON-GROUP Component -->
<div class="kx-btngroup kx-flex kx-flex-wrap kx-btngroup--spacing  " role="group" aria-label="Buttons with spacing">
    <!-- BUTTON Component -->
    <button class="kx-btn kx-btn--skin-secondary kx-btn--size-base">
    <span class="kx-btn__inner">
        <span class="kx-btn__txt">Cancel</span>
    </span>
</button>
    <!-- BUTTON Component -->
    <button class="kx-btn kx-btn--skin-primary kx-btn--size-base">
    <span class="kx-btn__inner">
        <span class="kx-btn__txt">Save changes</span>
    </span>
</button>
</div>